body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.products-list {
  max-width: 40%;
}

.product-row {
  display: flex;
  align-content: space-between;
}

.product-col {
  width: 10rem;
}

.product-head{
  font-weight: bold;
  cursor: pointer;
  color: #006eff;
  text-decoration: underline;
}
